MONGODB_URI=mongodb://localhost:27017 # do not add "/" at the end
# MONGO_URI=mongodb://<username>:<password>@localhost:27017
# if authentication not enabled:
# MONGO_URI=mongodb://<username>:<passsword>@localhost:27017

NODE_ENV=development # Do not forget to change it to production when you are ready to deploy
JWT_SECRET=
PORT=your_port_number
CORS_ORIGIN=your_cors_origin
JWT_SECRET=your_jwt_secret
ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_EXPIRY=10d
IMAGEKIT_PUBLIC_KEY=your_imagekit_public_key
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/your_imagekit_id
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET_KEY=your_stripe_webhook_secret_key